.body-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

header {
  display: flex;
  justify-content: space-around;
}

h2 {
  padding: 0;
  margin: 0;
}

.list-nav {
  padding-top: 40px;
  margin: 0 auto;
  padding-bottom: 0;
  max-width: 800px;
}

.list-nav ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.list-nav ul::before {
  z-index: 1;
}

.list-nav ul::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid black;
  z-index: 1;
}

.list-nav a {
  text-decoration: none;
  color: white;
}

.list-nav li {
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0 10px;
  display: inline-block;
  border-bottom: 20px solid #555;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 60px;
}

.list-nav li.selected {
  border-bottom: 20px solid blanchedalmond;
  z-index: 2;
}

.list-nav li.selected a {
  color: black;
}

/* MAIN TASK LIST */

.main-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

.main-list {
  border: 1px solid black;
  border-top: 0;
  background-color: blanchedalmond;
  padding: 10px;
  margin: 0;
  z-index: 1;
  list-style: none;
}

.main-list li {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  border-bottom: 0.5px solid gray;
  padding: 5px;
}

.btn-slide {
  color: black;
  border: 2px solid rgb(214, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide-down:hover {
  color: #fff;
  box-shadow: inset 0 100px 0 0 #d80286;
}

.random-container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.list-btn {
  font-size: 100%;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

.left-col {
  margin-left: 40px;
  padding: 0;
  border: 2px solid black;
  border-radius: 15px;
  width: 200px;
}

.side-list {
  border-bottom: 3px solid rgb(119, 119, 119);
  margin-bottom: 0;
  padding: 10px 24px;
}

.side-list:last-child() {
  border-bottom: none;
}

.movies {
  background: rgb(252, 135, 135);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.books {
  background: rgb(116, 128, 235);
}

.shows {
  background: rgb(167, 248, 129);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: 2px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header h3 {
  font-size: 24px;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 24px;
  font-weight: bold;
}

.modal form {
  padding: 10px 15px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background-color: rgba(193, 193, 193, 0.6);
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
